<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="hero min-h-screen">
        <div class="text-center hero-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">404</h1>
                <p class="mb-5">Page not found</p>
            </div>
        </div>
    </div>
</body>
</html>