<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <%- include('partials/navbar' , {page: "/about"}) %>
    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="text-center hero-content">
                <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">About</h1>
                    <p class="mb-5">Id: 166179226</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://s100.iracing.com/wp-content/uploads/2020/08/TIRECOMPOUNDS-1024x576.png" alt="f1">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="text-sm">I am not a car guy or someone who likes noisy engine on the street however i do enjoy racing and racing sim games</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://as2.ftcdn.net/v2/jpg/03/69/95/83/1000_F_369958320_QcDuUkukpicUwafl3jrxjNWTBFAzOftf.jpg" alt="vision mixer">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="text-sm">I love to do media producer things such as operating switcher better than programming</p>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>