<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', { page: "/login" }) %>
    <div class="container mx-auto">
        <div class="hero min-h-150 bg-base-200 mt-5">
            <div class="text-center hero-content">
                <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">Login</h1>
                    <p class="mb-5">Please fill out the form below to login</p>
                </div>
            </div>
        </div>
        <form action="/login" method="POST">
            <div class="form-control">
                <label class="label">
                    <span class="label-text
                    ">User Name</span>
                </label>
                <input type="text" name="userName" class="input input-bordered" placeholder="User Name" required>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text
                    ">Password</span>
                </label>
                <input type="password" name="password" class="input input-bordered" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
       <% if (errorMessage) { %>
        <div class="alert alert-error mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span><%= errorMessage %></span>
        </div>
        <% } %>
    </div>
</body>
</html>